
SIGNED IN AS
Manami Doi
Back to Slack
Home
Account & Profile
Configure Apps
Files
Analytics
Customize
Workspace Settings
Tour
Download Apps
Brand Guidelines
Help
API
Pricing
Contact
Policies
Our Blog
Sign Out
Made with  by Slack
Menu dh17sun
Workspaces
Help
Launch Slack
Launch
Akio Yonekura
rcu/css/style.css
6KB CSS snippet created on December 3, 2017.

ACTIONS

1
/* Common Style -------------------------- */
2
body{
3
    font-size:14px;
4
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
5
    line-height:1.6;
6
    font-weight:normal;
7
    background-color: #F4F4F4;
8
}
9
a{
10
    color:#CCC;
11
    text-decoration: none;
12
}
13
a:hover{
14
    color:#DDD;
15
    text-decoration: none;
16
}
17
​
18
​
19
/* Header -------------------------- */
20
header{
21
    /*opacity: 0;*/
22
    width: 100%;
23
    height: 700px;
24
    background: #F4F4F4 url(../img/main.jpg) center center no-repeat;
25
    background-size: cover; /* 背景画像を拡大縮小 */
26
    position: relative; /* ポジション指定の基点 */
27
    /*
28
    animation-name: fade-in;
29
    animation-duration: 1s;
30
    animation-timing-function: ease-in;
31
    animation-delay: 1s;
32
    animation-iteration-count: 1;
33
    animation-direction: normal;
34
    animation-fill-mode: forwards;
35
    */
36
}
37
​
38
@keyframes fade-in {
39
    0%{
40
        opacity: 0;
41
    }
42
    100%{
43
        opacity: 1;
44
    }
45
}
46
​
47
​
48
header h1{
49
    width: 130px;
50
    height: 130px;
51
    background-color: #FFF;
52
    text-align: center;
53
    position: absolute; /* ポジション　絶対配置 */
54
    left: 50%;
55
    top: 255px;
56
    margin-left: -65px;
57
}
58
​
59
header h1 img{
60
    width: 77px;
61
    height: auto;
62
    margin-top: 42px;
63
}
64
header nav{
65
    width: 100%;
66
    height: 63px;
67
    background: rgba(255,255,255,.8);
68
    border-bottom: 1px #EDEDED solid;
69
    position: absolute; /* ポジション　絶対配置 */
70
    left: 0;
71
    bottom: 0;
72
}
73
.nav-container{
74
    width: 1140px;
75
    height: 63px;
76
    margin: 0 auto; /* 左右の中央に配置 */
77
    overflow: hidden; /* floatの親要素に入れる */
78
}
79
header nav h2{
80
    width: 60px;
81
    float: left; /* 左寄せ */
82
    margin-top: 14px;
83
}
84
header nav h2 img{
85
    width: 60px;
86
    height: auto;
87
}
88
header nav ul{
89
    width: 457px;
90
    height: 63px;
91
    float: right; /* 右寄せ */
92
    display: flex; /* 横並び */
93
    justify-content: space-between; /* 均等配置 */
94
}
95
header nav ul li a{
96
    display: block;
97
    height: 63px;
98
    line-height: 4.4;
99
    padding: 0 8px;
100
    font-family: 'Montserrat', sans-serif;
101
    font-size: 15px;
102
}
103
header nav ul li a.current{
104
    border-bottom: 2px #B5B5B5 solid;
105
    height: 61px;
106
}
107
​
108
.mobile-menu{
109
    display: none;
110
}
111
.mobile-close{
112
    display: none;
113
}
114
​
115
@media (max-width:767px){
116
    header{
117
        background-position: -270px center;
118
    }
119
    .mobile-menu{
120
        display: block;
121
        position: absolute;
122
        right: 10px;
123
        top: 10px;
124
    }
125
    .mobile-menu img{
126
        width: 40px;
127
        height: auto;
128
    }
129
​
130
    header nav{
131
        /*display: block;*/
132
        display: none;
133
        width: 100%;
134
        height: 100vh; /* 端末の高さの最大値 */
135
        background: rgba(255, 255, 255, 0.98);
136
        position: fixed;
137
        left: 0;
138
        top: 0;
139
    }
140
    .nav-container{
141
        width: 100%;
142
        height:100vh;
143
        margin: 0;
144
        position: relative;
145
    }
146
    .mobile-close{
147
        display: block;
148
        position: absolute;
149
        right:10px;
150
        top:10px;
151
        width: 40px;
152
        height: auto;
153
    }
154
    .mobile-close img{
155
        width: 40px;
156
        height: auto;
157
    }
158
    header nav h2{
159
        width: 60px;
160
        float: none; /* floatの解除 */
161
        margin: 80px auto 40px;
162
    }
163
    header nav ul{
164
        width: 100%;
165
        float: none; /* floatの解除 */
166
        display: block; /* flexの解除 */
167
    }
168
    header nav ul li a{
169
        display: block;
170
        height: auto;
171
        text-align: center;
172
    }
173
    header nav ul li a.current{
174
        border-bottom: none;
175
        height: auto;
176
    }
177
}
178
​
179
​
180
​
181
/* Works -------------------------- */
182
.works{
183
    background-color: #F4F4F4;
184
    text-align: center;
185
    padding: 80px 0;
186
}
187
.works h2{
188
    font-family: 'Montserrat', sans-serif;
189
    font-size: 36px;
190
}
191
.sub-title{
192
    font-size: 16px;
193
    margin-bottom: 56px;
194
}
195
.works-container{
196
    width: 100%;
197
    display: flex;
198
}
199
.works section{
200
    height: 468px;
201
    flex-grow: 1;
202
}
203
.works section h3{
204
    font-family: 'Montserrat', sans-serif;
205
    font-size: 36px;
206
    color:#FFF;
207
    padding-top: 220px;
208
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
209
}
210
.graphic{
211
    background: url(../img/graphic.jpg) center center no-repeat;
212
    background-size: cover;
213
    animation-delay: 1s;
214
}
215
.signage-vr{
216
    background: url(../img/signage.jpg) center center no-repeat;
217
    background-size: cover;
218
    animation-delay: 1.5s;
219
}
220
.ui-ux{
221
    background: url(../img/uiux.jpg) center center no-repeat;
222
    background-size: cover;
223
    animation-delay: 2s;
224
}
225
.btn{
226
    width: 268px;
227
    height: 44px;
228
    /*background-color: #444444;*/
229
    margin: 64px auto 0;
230
}
231
.btn a{
232
    width: 268px;
233
    height: 44px;
234
    display: block; /* リンク領域の拡張 */
235
    color: #FFF;
236
    font-family: 'Montserrat', sans-serif;
237
    font-size: 16px;
238
    line-height: 2.8;
239
    background: rgba(68,68,68,1);
240
}
241
.btn a:hover{
242
    background: rgba(68,68,68,0.5);
243
    box-shadow: 4px 2px 4px 0 rgba(0,0,0,0.5);
244
}
245
​
246
@media (max-width:767px){
247
    .works-container{
248
        display: block; /* flexの解除 */
249
    }
250
    .btn{
251
        width: 100%;
252
        padding: 0 16px;
253
        box-sizing: border-box; /* paddingをwidthに含む */
254
    }
255
    .btn a{
256
        width: 100%;
257
    }
258
}
259
​
260
​
261
​
262
​
263
​
264
/* News -------------------------- */
265
.news{
266
    width: 100%;
267
    padding: 80px 0;
268
    background-color: #E6E6E6;
269
    text-align: center;
270
}
271
.news h2{
272
    font-family: 'Montserrat', sans-serif;
273
    font-size: 36px;
274
}
275
.news-container{
276
    width: 1140px;
277
    margin: 0 auto;
278
    display: flex;
279
    justify-content: space-between;
280
}
281
.news section{
282
    width: 360px;
283
    height: 420px;
284
    background-color: #FFF;
285
}
286
.news-data{
287
    padding: 24px 16px;
288
    overflow: hidden;
289
}
290
.date{
291
    font-size: 11px;
292
    width: 100px;
293
    text-align: left;
294
    float: left;
295
}
296
.category{
297
    width: 90px;
298
    height: 18px;
299
    background-color: #A0A0A0;
300
    color: #FFF;
301
    font-size: 11px;
302
    float: right;
303
    line-height: 1.8;
304
    border-radius: 3px;
305
}
306
.seminar{
307
    background-color: #17d8e6;
308
}
309
.media{
310
    background-color: #e69a17;
311
}
312
.news h3{
313
    padding: 0 16px;
314
    text-align: left;
315
    font-size: 13px;
316
}
317
​
318
@media (max-width:767px){
319
    .news-container{
320
        width: 100%;
321
        display: block; /* flexの解除 */
322
        padding: 0 16px;
323
        box-sizing: border-box;
324
    }
325
    .news section{
326
        width: 100%;
327
        height: auto;
328
        padding-bottom: 20px;
329
        margin-bottom: 20px;
330
    }
331
    .news section img{
332
        width: 100%;
333
        max-width: 100%;
334
    }
335
}
336
​
337
​
338
​
339
/* Footer -------------------------- */
340
footer{
341
    padding: 80px 0;
342
    text-align: center;
343
    background-color: #F4F4F4;
344
}
345
footer h1 img{
346
    width: 77px;
347
    height: auto;
348
}
349
footer nav{
350
    padding: 64px 0;
351
}
352
footer nav a{
353
    color: #666;
354
}
355
.footer-gnav{
356
    width: 310px;
357
    margin: 0 auto 24px;
358
    font-family: 'Montserrat', sans-serif;
359
    font-size: 13px;
360
    display: flex;
361
    justify-content: space-between;
362
}
363
.footer-snsnav{
364
    width: 60px;
365
    margin: 0 auto;
366
    display: flex;
367
    justify-content: space-between;
368
}
369
footer address{
370
    color:#666;
371
    font-size: 13px;
372
    line-height: 2;
373
    margin-bottom: 64px;
374
}
375
footer p small{
376
    font-size: 11px;
377
    color:#666;
378
}
379
​
380
@media (max-width:767px){
381
    .footer-gnav{
382
        width: 100%;
383
        margin: 0 0 24px;
384
        display: block; /* flexの解除 */
385
    }
386
    .footer-gnav li{
387
        margin-bottom: 20px;
388
    }
389
}
390
​
 wrap long lines

Add Comment
Commenting in #pr-htmlcssjs
